*.rar

*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.axf
*.hex
*.uvguix.*
*.uvoptx
*CMakeLists.txt
.mxproject
MDK-ARM/RTE/
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.gitignore
*RTE_Components.h
*.pyi
pikascript-api/
pikascript-core/
pikascript-lib/
rust-msc-latest-win10.exe
**/pikascript/*.py
*.launch
JLinkLog.txt
.settings
